<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Be my valentines</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <img src="../static/gifs/valentines.gif" alt="valentines">
    <h1>Be my valentines pleaseee</h1>
    <button onclick="changeyes()" class="yes" id="yes" width="30" height="10">Yes!</button>
    <button onclick="changeno()" class="no" id="no" width="30" height="10">Nah</button>
    <script src="../static/main.js"></script>
</body>
</html>